.about {
    background-color: transparent;
    font-size: 1.1em;
  }
  
  .profile {
    max-width: 20em;
  }
  
  .my-details {
    background-color: rgba(255, 255, 255, 0.747);
  }
  h3 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: .95rem;
    font-weight:500;
  }
  /* .intended {
    padding-left: 0%;
    padding-right: 0%;
  } */